/*html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#searchField{
    height: 25px;
    width: 200px;
    display:inline-block;
    margin:4px auto;
    font-family: 'Roboto', sans-serif;
}*/

img {
	flex-basis: auto;
    height: 110px;
    width: auto;
}

.main {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: blue;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    text-align: center;
    background-color: red;
}

.tracks {
    background-color: green;
    text-align: center;
}

table td {
/*     min-width: 2em;
    min-height: 2em; */
    border: 1px solid #000;
}

.title {
  width: 99%;
}

table {
  display: inline-block;
  text-align: center;
  empty-cells: show;
  border: 1px solid #000;
}

#searchField{
    display:inline-block;
    font-family: 'Roboto', sans-serif;
}

.playing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  background-color: blue;
/*  margin: 0 auto;*/
}

.info {
  flex-grow: 2;
  background-color: yellow;
  text-align: center;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 70px;
}