html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#searchField{
    height: 25px;
    width: 200px;
    display:inline-block;
    margin:4px auto;
    font-family: 'Roboto', sans-serif;
}