html, body {
    height: 100%;
}

.main {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

tr.clickable-row { cursor: pointer; }

table {
	margin: 0 auto;
  	border-collapse: collapse;
  	text-align: center;
}

td {
    padding: 20px 8px 20px 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}