ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-item-title {
}

.nav-title {
	text-align: start;
	display: inline-block;
	font-weight: 700;
}

.nav-item-search {
	flex: 0 1 auto;
}

.dim-enter {
  opacity: 0.01;
}

.dim-enter.dim-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.dim-leave {
  opacity: 1;
}

.dim-leave.dim-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.nav-logo {
	margin: 10px;
	width: 45px;
	height: auto;
	display: inline-block;
}