.now-playing {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.now-playing-heading {
	font-size: 14px;
	font-weight: 400;
	color: #757575;
}

.artist, .album {
	font-weight: 500;
	color: #757575;
}

.info {
  padding-top: 15px;
  flex-basis: auto;
  text-align: center;
  margin: 10px;
}

.no-song-list-item {
  padding: 5px;
}

.no-song {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.artwork-and-playback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}