table {
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	min-width: 80%;
}

.results {
	width: 100%;
}

.error {
	max-width: 800px;
	margin: 0 auto;
}

.error-info {
	text-align: center;
	font-weight: 400;
	margin: 10px;
	color: #FFFFFF;
	margin-top: 30%;
}