.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 80%;
  width: 80%;
}

.session-form-field-select {
  margin: 0px;
  width: 100%;
}
