<html>
  <head>
    <title>History</title>
    <link rel="stylesheet" type="text/css" href="/pibox/style/tracks.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  </head>
  <body>
    <ul>
      {% for track in history %}
      <li><b>
      {{ track.name }} -
        {% for artist in track.artists %}
          {{ artist.name }}
        {% end %}
      </b></li>
      {% end %}
    </ul>
  </body>
</html>