<html>
  <head>
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="/pibox/style/tracks.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
  <p>Results for "{{ search_term }}"</p>
    <ul>
      {% for track in search_result[0].tracks %}
      <li><b>{{ track.name }} -
        {% set i = 0 %} 
        {% for artist in track.artists %}
          {{ artist.name}}
          {% set i += 1 %}
          {% if i != len(track.artists) %}, {% end %}
        {% end %}
      </b>: <a href="/pibox/add/?uri={{ track.uri }}">ADD</a></li>
      {% end %}
    </ul>
  </body>
</html>