html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* h2 {
  font-size: 20px;
}

h3 {
  text-align: center;
  font-size: 16px;
}

.Link {
	text-decoration: none;
	color: black;
	display: block;
}

.Link:hover {
	background-color: #FAFAFF;
} */
